  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
      }
      
  /* Estilos específicos para diferentes tamaños de pantalla */
      @media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles y tablets en posición vertical */
        
      }
      
      @media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tablets en posición horizontal */
      }
      
      @media screen and (min-width: 1025px) {
  /* Estilos para escritorios y dispositivos con amplia resolución */
      }

  /* Estilos para la página de noticias */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  h1 {
    margin: 0;
    padding: 10px;
  }
  main {
    margin: 20px;
  }
  section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  article {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 10px 0;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  /*MOVER EL BOTON "BUSCAR" A LA DERECHA*/
  .float-right {
      text-align: right;
  }


  /* IMG Tamaño */

  .imagenPrincipal {
    width: 400px;
    height: 250px;
  }


 /* GRID de Noticiaas */

 /* grid areas */

 .areaCar {
  grid-area: carousel_noticias;
 }
 .areaLista {
  grid-area: listaNoticias;
 }
 .areaUltimaNo {
  grid-area: ultima-noticia;
 }
 .areaActualidad {
  grid-area: actualidad;
 }

 .areaActualidad2 {
  grid-area: actualidad2;
 }

 .areaActualidad3 {
  grid-area: actualidad3;
 }

 .areaActualidad4 {
  grid-area: actualidad4;
 }

 .areaActualidad5 {
  grid-area: actualidad5;
 }


 .gridNoticias {
  display: grid;


  grid-template-areas: 
  
  "carousel_noticias carousel_noticias listaNoticias"
  "ultima-noticia ultima-noticia ultima-noticia"
  "actualidad actualidad2 actualidad2"
  "actualidad3 actualidad4 actualidad5"
  ;

  grid-column-gap: 5px;
  grid-row-gap: 5px;

  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;


 }